@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

$base-font: 'Quicksand', sans-serif;
$text-main: #505050;

html,
body {
  font-family: $base-font;
  color: $text-main;
}
