@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.container {
  > p:nth-last-of-type(2) {
    margin-bottom: 16%;
  }

  @media (min-width: $viewport-12) {
    margin-top: 16%;

    > p:nth-last-of-type(2) {
      margin-bottom: 4%;
    }
  }
}
