@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.container {
  margin: 16% 8%;

  @media (min-width: $viewport-12) {
    margin: 0 auto;
    width: 100%;
    max-width: $container-size;
  }
}
