@import '../styles/vendor.scss';
@import '../styles/variables.scss';

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  max-width: 240px;
  @include font-size(1);

  > li:last-of-type {
    margin-right: 0;
  }

  > li > a {
    text-decoration: none;
    color: $text-main;
    border-bottom: 1px solid $light-gray;
  }

  > li > a:hover,
  > li > a:focus {
    color: dimgrey;
    border-color: $gray;
  }

  @media (min-width: $viewport-12) {
    width: 384px;
  }
}
