@import '../vendors.scss';
@import '../variables.scss';

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  @include font-size(1);

  > li {
    margin-right: 24px;
  }

  > li > a {
    text-decoration: none;
    color: $text-main;
    border-bottom: 1px solid $light-gray;
  }

  > li > a:hover,
  > li > a:focus {
    color: dimgrey;
    border-color: $gray;
  }

  @media (min-width: $viewport-12) {
    > li {
      margin-right: 56px;
    }
  }
}
